<!DOCTYPE html>
<html style="background-color: white;">
  <head>
    <style type="text/css">
    body {
      -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
-webkit-transform: translate3d(0, 0, 0);
}
</style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bingo" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Bingo" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", media: "all" %>
    
    <%= csrf_meta_tags %>
  </head>
  <body>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
