<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Boxes" %></title>

    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Bingo" %>">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", media: "all" %>
    
    <%= csrf_meta_tags %>
    
  </head>
  <body oncontextmenu="return false;">
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
